.clip{
  float: left;
  border: #d9d5d1 solid 2px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.clip-title{
  background-color: #4a8cf5;

  .category{

  }

  .copy-time{

  }

  .app-icon{
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    height: 100px;
    width: 100px;
  }

}

.clip-context{
  background-color: #ffffff;
}