.board-wrapper-wrapper{
  background-color: #d9d5d1;
  height: 400px;
  width: 1600px;
  overflow: hidden;
}

.board-wrapper{
  background-color: #d9d5d1;
  height: 420px;
  width: 1600px;
  overflow-x: scroll;
}

.board{
  background-color: #d9d5d1;
  height: 400px;
  overflow: hidden;
}